.homeContentDiv {
    display: flex;
    flex-direction: row;
    flex: 1;
}


.leftDiv {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.rightDiv {
    flex: 1;
    background-color: #404240;
    opacity: 0.6;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}


.textBox {
    font-family: 'Caveat Brush', cursive;  
}

.socialMediaDiv {
    display: flex;
    flex-direction: row;
}

.socialMediaDiv a {
    flex: 1;
    text-align: center;
}